<!-- Yan Pan 2023 -->
[% extends "base.html" %]

[% block head %] 
<title>Login Required</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
</style>
[% endblock %]

[% block main %]
<h3>Authentication required</h3>
<p>
    <a class="waves-effect waves-light btn-large" href="/login">Login</a>
</p>
<blockquote style="margin-top: 100px">
    Why login is required?<br/>
    In short, it is to promote fair and responsible use of AI tools. <br/><br/>
    AI can be used to create fake content, spread misinformation, and harass people. 
    Anonymous usage tends to sacrifice responsible usage, and thus have a negative impact on the safety and security of the internet.
</blockquote>
[% endblock %]

[% block after %]
[% endblock %]

[% block vuejs %]
[% endblock %]
