<!-- Yan Pan 2023 -->
[% extends "base.html" %]

[% block head %] 
<title>Yan Pan</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    /* #open-sidenav {display: none;} */
    .container {
        width:99%;
    }
    h3 {
        font-size: 2rem; 
        font-weight: 500; 
        color: #0397A7;
    }
    h4 {
        font-size: 1.5rem;
        font-weight: 300;
        color: rgb(22, 175, 202);
    }
    i.material-icons {
        color:rgb(22, 175, 202);
    }
    .item-box i.material-icons {
        color: lightgrey;
    }
    #cv-info i.material-icons {
        padding: 1rem 1rem 1rem 0;
    }
    .item-box {
        padding-left: 20px;
        margin: 10px 0px 10px 0px;
        border-left: #D8F3F8 solid 3px;
    }
</style>
[% endblock %]

[% block main %]
<div id="app">
    <div id="row-info" class="row">
        <div v-if="message" @click="message=''" class="card yellow lighten-5">
            <div class="card-content orange-text">System Message<br/>{{message}}</div>
            <div class="card-action"><a @click="message=''">Close</a></div>
        </div>
    </div>

    <div class="row">

        <div id="container-left" class="col s4">
            <div id="cv-info" class="card">
                <div class="card-image" @dblclick="showProfile=1-showProfile;">
                    <img src="https://yan.fi/static/yancv/images/theme.png">
                </div>
                <div class="card-content">
                    <select class="browser-default" v-if="showProfile" v-model="selectedProfile">
                        <option v-for="opt in profiles" :value="opt">{{opt}}</option>
                    </select>

                    <ul>
                        <li v-for="i in personalInfo">
                            <a :href="i.href">
                                <i class="material-icons">{{i.icon}}</i>{{i.text}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-action">
                    <div class="row">
                        <div v-for="badge in badges" class="col s2">
                            <a target="_blank" :href="badge.href">
                                <img :src="badge.img" style="width:130%">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="container-right" class="col s8">
            <div class="card">
                <div class="card-content">
                    <h4 class="right-align">
                        Yan Nathan Pan <i class="material-icons">pages</i>
                    </h4>
                    <div v-html="summaryHTML">
                    </div>
                </div>
            </div>
        </div>

        <div id="container-bottom" class="col s12">
            <div v-for="one in mainContent" class="card">
                <div class="card-content">
                    <h4 class="right-align">
                        {{one.title}} <i class="material-icons">{{one.titleIcon}}</i>
                    </h4>
                    <div class="item-box" v-for="item in one.items">
                        <h5>{{item.title}}</h5>
                        <p  class="valign-wrapper"> 
                            <!-- v-if="item.chips && item.chips.length" -->
                            <!-- <i class="material-icons">widgets</i> &nbsp;&nbsp; -->
                            <div class="chip">
                                <i class="tiny material-icons gray-text">date_range</i>
                                {{item.time}}
                            </div>
                            <span class="chip" v-for="x in item.chips">{{x}}</span>
                        </p>
                        <!-- <p v-if="item.time" class="valign-wrapper">
                            <i class="material-icons">date_range</i> &nbsp; &nbsp;{{item.time}}
                        </p> -->
                        <p v-if="item.text" class="valign-wrapper">
                            <i class="material-icons">create</i> &nbsp;&nbsp; {{item.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
[% endblock %]

[% block after %]
[% endblock %]

[% block vuejs %]
<script>
    const urlAboutOne = "[[ url_for('get_about_fixture') ]]";
    const urlAboutTwo = "[[ url_for('get_about_summary') ]]";
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                message: '',
                showProfile: 0,
                profiles: ["default", "scientist", "engineer", "architect"],
                selectedProfile: "default",
                personalInfo: [],
                badges: [],
                summaryHTML: "<i>loading<i>",
                mainContent: [],
            }
        },
        created() {
            // this.headers = {'Authorization': 'Bearer ' + window.localStorage.getItem("jwt")}
            this.loadDataOne();
            this.loadDataTwo();
        },
        methods: {
            loadDataOne() {
                theUrl = `${urlAboutOne}?profile=${this.selectedProfile}`
                // console.log(theUrl)
                fetch(theUrl)
                    .then(response => response.json())
                    .then(data => {
                        // console.log(data);
                        this.personalInfo = data.personalInfo;
                        this.badges = data.badges;
                        this.profiles = data.profiles;
                    })
                    .catch(error => this.message = error);
            },

            loadDataTwo() {
                theUrl = `${urlAboutTwo}?profile=${this.selectedProfile}`
                // console.log(theUrl)
                fetch(theUrl)
                    .then(response => response.json())
                    .then(data => {
                        // console.log(data);
                        this.summaryHTML = data.summaryHTML;
                        this.mainContent = data.mainContent;
                    })
                    .catch(error => this.message = error);

            }
        }
    }).mount("#app");
    </script>
[% endblock %]
