<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        @import url('https://fonts.cdnfonts.com/css/satoshi'); 
        * {
          font-family: 'Satoshi', sans-serif;
        }
    </style>
    [% block head %]
    <title>Base Head</title>
    [% endblock %]
</head>

<body>

    <ul id="slide-out" class="sidenav">
        <div class="user-view" style="height:200px">
            <div class="background">
                <img src="https://yan.fi/static/yancv/images/theme.png" width="100%">
            </div>
        </div>
        <!-- {% include "sidenav.html" %} -->
    </ul>

    <!--open side nav-->
    <div class="row">
        <div class="col s1">
            <a id="the-menu" href="#" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
        </div>
    </div>


    <main class="container">    
        [% block main %]
        <h1>Hello</h1>
        <p>
            <a class="waves-effect waves-light btn-large" href="[[ url_for('login_google') ]]">Login with google</a>
        </p>
        [% endblock %]

    </main>
    [% block after %]
    [% endblock %]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();</script>
    [% block vuejs %]
    [% endblock %]
</body>
</html>
