<!-- Yan Pan 2023 -->
[% extends "base.html" %]

[% block head %] 
<title>Welcome!</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
    h1,h3 {font-size: 2rem;}
</style>
<script>
  // important: jwt token saved to local storage
  parsedToken = document.cookie.split('; ').find(row => row.startsWith('jwt=')).split('=')[1]
  landingUrl = document.cookie.split('; ').find(row => row.startsWith('landing=')).split('=')[1]
  // parsedToken = '[[ token ]]';
  if (parsedToken.length){
    window.localStorage.setItem('jwt', parsedToken);
    console.log(`token parsed ${parsedToken.length}`)
  }      
</script>
[% endblock %]

[% block main %]
<div id="app">
  
  <div id="row-info" class="row">
    <div v-if="message" @click="message=''" class="card yellow lighten-5">
        <div class="card-content orange-text">System Message<br/>{{message}}</div>
        <div class="card-action"><a @click="message=''">Close</a></div>
    </div>
  </div>

  <div id="row-collections" class="row">
    <ul class="collection with-header">
      <!-- conditional if-else -->
      <li v-if="!me.accepted" class="collection-header">
        <h3>Welcome! {{me.full_name}}</h3>
        <p>It is the first time you logged in, and we need your confirmation</p>
        <p>Below is all the info we are collecting, you can choose to agree or delete my profile</p>
        <p class="center-align">
          <a class="waves-effect waves-light btn-large" @click="agreeNewUser">Agree & Continue</a>
          &nbsp;&nbsp;
          <a class="waves-effect waves-light btn-large red lighten-3" @click="deleteProfile">Delete My Profile</a>
        </p>
      </li>
      <li v-else class="collection-header">
        <h3>Welcome! {{me.full_name}}</h3>
        <p v-if="nextUrl" style="font-size: larger">You will be redirected to {{ nextUrl }} within 10 seconds...</p>
        <p class="right-align">
          <a class="waves-effect waves-light btn-large " @click="logout">Logout</a>
        </p>
      </li>

      <!-- conditional: only NOT new user -->
      <li v-if="me.accepted" class="collection-item">
        Below lists all the data collected about you.<br>
        Please click the button in the right to delete your profile.
        <div class="secondary-content red-text" @click="deleteProfile">
          <i class="material-icons">delete_sweep</i>
        </div>
      </li>
      
      <!-- always -->
      <li v-for="(key) in Object.keys(me)" class="collection-item">          
        <span :class="key == 'origin' ? 'grey-text' : ''">{{ me[key] }}</span>
        <br/><span class="grey-text">{{ key }}</span>  
        <div class="secondary-content">
          <i class="material-icons">face</i>
        </div>
      </li>
    </ul>
  </div>
</div x="end-of-app">
[% endblock %]

[% block after %]
[% endblock %]

[% block vuejs %]
<script>
// https upgrade in base header
var url_me = "[[ url_for('check_bearer_token') ]]";
var url_token = "[[ url_for('refresh_token') ]]";
var url_delete = "[[ url_for('delete_me') ]]"
var url_logout = "[[ url_for('clear_session') ]]";

const {createApp} = Vue;

createApp({

  data() {
    return {
      headers: {},
      message: 'loading',
      nextUrl: '',
      me: {"username": "example", "email": "a@a.a", "full_name": "x"}
    }
  },

  mounted() {
  },

  created() {
    this.message='still loading...';
    this.headers = {'Authorization': 'Bearer ' + window.localStorage.getItem("jwt")}
    this.fetchInfoAboutMe();
  },

  methods: {
    refreshToken() { // called by fetchInfo and accept
      fetch(url_token, {method: 'POST', headers: this.headers})
        .then(response => {
          if (response.ok) {
            return response.json()
          }
          throw new Error('unable to refresh token. This is expected if you are a new user')
        })
        .then(data => {
          window.localStorage.setItem("jwt", data.access_token);
          now = new Date();
          window.localStorage.setItem('renewedOn', now.toISOString());  
        })
        .catch(error => {
          console.error(error); 
          this.message = error;
        });  
    },

    fetchInfoAboutMe() {
      fetch(url_me, {method: 'GET', headers: this.headers})
        .then(response => response.json())
        .then(data => {
          this.me = data; 
          this.message=''; 
          if (data.accepted) this.refreshToken();
          this.redirectToLandingPage(data.accepted);
        })
        .catch(error => {console.error(error); this.message = error;});  
    },

    agreeNewUser() {
      fetch(url_me, {method: 'POST', headers: this.headers})
        .then(response => response.json())
        .then(data => {
          this.me = data; 
          this.message=''; 
          if (data.accepted) this.refreshToken();
          this.redirectToLandingPage(data.accepted);})
        .catch(error => {console.error(error); this.message = error;});  
    },

    redirectToLandingPage(flag) { // used in fetch info about me
      if (!flag) {
        console.log("No redirection: flag is false");
        return;
      }
      if (!landingUrl.includes('login/success')) {
        this.nextUrl = landingUrl.replaceAll('"', '');
        setTimeout(function(){
          window.location.href = landingUrl.replaceAll('"', '');
        }, 9000)
      }
    },

    logout(){
      window.localStorage.removeItem("jwt");
      fetch(url_logout, {method: 'POST'})
          .then(response => {this.me = {}; this.message=this.message+'redirecting in 3 seconds';})
          .catch(error => {console.error(error); this.message = error;}); 
      setTimeout(function(){
        window.location.href = "/app/login";
      }, 3000) 
    },

    deleteProfile() {
      if(confirm("Do you really want to delete your profile?")){

        fetch(url_delete, {method: 'DELETE', headers: this.headers})
          .then(response => {this.message="Profile Deleted. "; this.me={}})
          .catch(error => {console.error(error); this.message=error;}); 
          
        this.logout();
      }
    }
  },
}).mount("#app");
</script>
[% endblock %]
