# Yan Pan, this should be improved with pip freeze for prod
# pip install pip-tools
# pip-compile requirements.in --> get an requirements.txt
fastapi
uvicorn
jinja2
httpx
pytest
motor
python-jose
python-multipart
passlib
pydantic[email]
flake8
authlib